/* Add Tailwind to CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --color-white: 247 247 247;
  --color-black: 35 35 35;
  --color-gray: 222 222 222;
  --color-graydarker: 146 146 146;
  --color-blue: 70 102 239;
  --color-bluedarker: 6 31 72;
  --color-yellow: 248 244 232;
  --color-yellowdarker: 183 151 56;

  /* Name Color */
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --color-gray: var(--color-gray);
  --color-graydarker: var(--color-graydarker);
  --color-blue: var(--color-blue);
  --color-bluedarker: var(--color-bluedarker);
  --color-yellow: var(--color-yellow);
  --color-yellowdarker: var(--color-yellowdarker);
}

* {
  font-family: "Manrope", sans-serif;
}
